<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Welcome.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <title>Welcome</title>
</head>
<body>
    <article class="whole-box">
        <a href="/welcome/buy"  class="buy-section">
            <div class="buy-container">
                <img src="../static/assets/BPlatform.svg" alt='BPlatform' class='logo-class'/>
                <div class='buy-heading-class'>
                    <h1 class="heading-class" style="color:#83C5BE;">BUY</h1>
                    <p class="subheading-class">Explore new dimension</p>
                </div>
            </div>
        </a>
        <a href="/welcome/sell" class="sell-section">
            <div class="sell-container">
                <div class='sell-heading-class'>
                    <h1 class="heading-class" style="color: #EDF6F9;">SELL</h1>
                    <p class="subheading-class">Contribute towards new dimension</p>
                </div>
            </div>
        </a>
    </article>
</body>
</html>